//
// VISMETEOR.RC - resources Microsoft Visual C++ does not edit directly
//

#include <winver.h>


#ifdef APSTUDIO_INVOKED
	#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
// Add manually edited resources here...

#include "VisMeteorVersion.h"

#define VIS_SDK_PROJECT_DESCRIPTION			VIS_METEOR_DESCRIPTION
#define VIS_SDK_PROJECT_BASE_NAME			VIS_METEOR_BASE_NAME
#define VIS_SDK_PROJECT_DEBUG_BASE_NAME		VIS_METEOR_DEBUG_BASE_NAME

#include "..\VisSDKVersion.rc"


/////////////////////////////////////////////////////////////////////////////
